.FloatBar {
  position: fixed;
  top: 35%;
  right: 0;
  width: 56px;
  height: 184px;

  .floatContainer {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    .floatGreeting {
      text-align: center;
      padding: 9px 0;
      font-size: 11px;

      strong {
        font-size: 13px;

        em {
          color: #009ee3;
          font-weight: bolder;
        }
      }
    }

    .icon {
      position: relative;
      padding: 15px;
      border-top: 1px solid lightgray;

      .count {
        position: absolute;
        top: 3px;
        right: 6px;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 12px;
        font-weight: bolder;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        background: #009ee3;
        z-index: 1;
      }

      .floatCart {
        width: 22px;
        height: 22px;
        background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp.png)
          no-repeat 100% -90px;
      }

      .floatLike {
        width: 22px;
        height: 18px;
        background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp.png)
          no-repeat 100% -67px;
      }
    }

    .floatProduct {
      border-top: 1px solid lightgray;
      height: 84px;

      img {
        width: 56px;
        padding: 20px 0 0;
      }

      .slick-slider {
        position: relative;

        .slick-arrow {
          position: absolute;
          top: 10px;
          z-index: 10;
        }

        .slick-prev {
          left: 16px;
          width: 12px;
          height: 12px;
          background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp.png)
            no-repeat -198px -39px;

          &:before {
            display: none;
          }
        }

        .slick-next {
          right: 16px;
          width: 12px;
          height: 12px;
          background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp.png)
            no-repeat -215px -39px;

          &:before {
            display: none;
          }
        }
      }
    }

    .goToTop {
      border-top: 1px solid lightgray;
      padding: 10px 0;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
