.SkinSolution {
  width: 1126px;
  margin: 0 auto;
  .solutionList {
    padding-top: 80px;
    margin-bottom: 100px;
    justify-content: space-around;
    .solutionItemBox {
      position: relative;
      outline: none;
      width: 366px !important;
      cursor: pointer;
      .hoverItems {
        position: absolute;
        left: 40px;
        bottom: 50px;

        .solutionText {
          width: 286px;
          line-height: 36px;
          display: block;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          color: white;
          font-size: 30px;
          padding: 10px 10px 12px;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 52px;
    height: 52px;
    border: black;
    z-index: 999;
  }

  .slick-prev::before {
    display: none;
  }

  .slick-prev {
    left: -30px;
    background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp.png)
      no-repeat -110px -129px;
  }

  .slick-next::before {
    display: none;
  }
  .slick-next {
    top: 50%;
    right: -30px;
    background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp.png)
      no-repeat -167px -129px;
  }

  .slick-disabled {
    display: none !important;
  }
}
