.CartItems {
  width: 1140px;
  margin: 0 auto;

  .itemListTitle {
    display: flex;
    text-align: center;
    padding: 60px 0;
    justify-content: center;
    list-style: none;

    li {
      margin: 0 20px;
      color: #8f8f8f;
      font-size: 20px;

      span {
        font-weight: bolder;
      }
    }

    .cartOn {
      color: #009ee3;
    }

    .stageArrow {
      width: 11px;
      height: 20px;
      background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp2.png) -194px -282px
        no-repeat;
    }
  }

  .memeberInfo {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #f7f7f7;

    .memberlevel {
      display: flex;
      align-items: center;

      p {
        margin-left: 50px;
        font-size: 22px;
      }

      .memberIcon {
        position: absolute;
        width: 35px;
        height: 35px;
        background-image: url(https://www.larocheposay.co.kr/images/common/grade_bg.png);
        background-repeat: no-repeat;
        background-size: auto 35px;
      }

      span {
        padding: 0 10px;
        font-size: 26px;
        color: #8f8f8f;
        font-weight: bolder;
      }
    }

    button {
      padding: 6px 10px;
      margin: 0 20px;
      color: #8f8f8f;
      border: 1px solid #8f8f8f;
      background-color: transparent;
    }

    .mileage {
      display: flex;

      p {
        margin: 0 10px;
        font-size: 14px;
        color: #666;

        span {
          margin: 0 5px;
          font-size: 20px;
          font-weight: bolder;
          color: #222;
        }
      }
    }
  }

  .cartTableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 20px;

    .titleLeft {
      font-size: 22px;
      font-weight: bolder;
      color: #222;

      span {
        color: #009ee3;
      }
    }

    .titleRight {
      color: #fa2b49;
      font-size: 14px;
      font-weight: bolder;

      button {
        color: #666;
        border: 1px solid #666;
        background-color: transparent;
        margin-left: 10px;
        padding: 5px 10px;
      }
    }
  }

  .cartItemTable {
    margin-bottom: 100px;

    thead {
      tr {
        th {
          border-top: 1px solid #333;
          border-bottom: 1px solid #bcbcbc;
          width: 100%;
          height: 60px;
          color: #222;
          font-size: 14px;
          vertical-align: middle;
          background-color: transparent;
        }

        .firstC {
          width: 60px;
        }

        .secondC {
          width: 655px;
        }

        .thirdC {
          width: 155px;
        }

        .firthC {
          width: 120px;
        }

        .fifthC {
          width: 130px;
        }
      }
    }

    tbody {
      .items {
        .secondC {
          display: flex;

          img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
          }

          .productInfo {
            width: 100%;
            padding: 10px 20px;

            .productLine {
              font-size: 16px;
              font-weight: bolder;
              color: #222;
              margin-bottom: 5px;
            }

            .productName {
              font-size: 14px;
              color: #787878;
            }
          }
        }

        td {
          height: 150px;
          padding: 25px;
          vertical-align: middle;

          .count {
            width: 105px;
            display: flex;

            button {
              width: 35px;
              height: 35px;
              border-radius: 0;
              border: 1px solid #d9d9d9;
              background-color: white;
              outline: none;
              cursor: pointer;
            }

            input {
              width: 35px;
              height: 35px;
              text-align: center;
              border-radius: 0;
              border: 1px solid #d9d9d9;
              border-width: 1px 0 1px !important;
            }
          }

          .confirmChange {
            margin-top: 5px;
            width: 105px;
            height: 35px;
            background-color: white;
            border: 1px solid #bcbcbc;
          }
        }

        .price {
          padding: 20px;
          text-align: center;
          font-size: 18px;
          font-weight: bolder;
          color: #009ee3;

          em {
            font-size: 16px;
            color: #222;
          }
        }

        .buttons {
          button {
            width: 80px;
            height: 32px;
            margin: 2px;
            font-size: 14px;
            color: #666;
            background-color: white;
            border: 1px solid #bcbcbc;
            border-radius: 0;
          }

          .cyan {
            background-color: #009ee3;
            border: 1px solid #009ee3;
            color: white;
          }
        }
      }
    }

    .total {
      width: 1140px;
      height: 130px;
      justify-content: center;
      padding: 40px 20px;
      display: flex;
      background-color: #f8fcfe;
      border-bottom: 1px solid #bcbcbc;

      .ordered {
        position: absolute;
        content: "";
        top: 18px;
        left: 50px;
        width: 30px;
        height: 30px;
        background: url(https://www.larocheposay.co.kr/images/common/ico_comm_sp2.png) -53px -195px
          no-repeat;
      }

      span {
        text-align: center;
        height: 47px;
        font-weight: bolder;

        .totalItem {
          width: 265px;
          font-size: 14px;
          color: #8f8f8f;
          display: block;
          margin: 0 0 10px;
        }

        strong {
          font-size: 28px;
          color: #222;
        }

        .dicountCount {
          color: #fa2b49;
        }

        .totalCount {
          font-size: 34px;
          color: #009ee3;
        }
      }
    }

    .cartBtn {
      display: flex;
      margin: 60px auto 80px;
      justify-content: center;

      button {
        padding: 0 20px;
        height: 48px;
        margin: 2px;
      }

      .continue {
        color: #666;
        border: 1px solid #666;
        background-color: white;
      }

      .orderChosen {
        color: white;
        border: 1px solid #666;
        background-color: #666;
      }

      .orderAll {
        color: white;
        border: 1px solid #009ee3;
        background-color: #009ee3;
      }
    }

    .cartNotification {
      .notifications {
        padding: 30px 0 30px 100px;
        background-color: #f7f7f7;
        list-style: square;

        li {
          color: #666;
          padding-bottom: 12px;

          span {
            color: #009ee3;
          }
        }
      }
    }
  }
}
