.SignUp {
  width: 580px;
  margin: 0 auto;
  background-color: white;
  font-family: notokr-demilight;

  header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  main {
    .step {
      width: 580px;

      .step_imgs {
        display: flex;
        justify-content: space-around;

        .step1_img {
          content: "";
          width: 35px;
          height: 37px;
          background: url(https://www.larocheposay.co.kr/images/utility/ico_step.png)
            no-repeat;
        }

        .step2_img {
          width: 38px;
          height: 37px;
          background: url(https://www.larocheposay.co.kr/images/utility/ico_step.png) -35px -37px
            no-repeat;
        }

        .step3_img {
          width: 37px;
          height: 37px;
          background: url(https://www.larocheposay.co.kr/images/utility/ico_step.png) -73px
            0 no-repeat;
        }

        .step_after {
          width: 12px;
          height: 37px;
          background: url(https://www.larocheposay.co.kr/images/utility/ico_step.png) -114px
            0 no-repeat;
        }
      }

      .step_text {
        margin-top: 18px;

        .step1_text {
          margin-right: 125px;
        }

        .step2_text {
          margin-right: 177px;
        }
      }
    }

    .join_form {
      border: 1px solid #bcbcbc;
      border-top: 4px solid #009ee3;
      background: #fff;
      margin-top: 35px;
      width: 580px;
      padding: 0 30px;

      h2 {
        margin: 40px 0 30px;
        color: #009ee3;
        font-size: 30px;
        font-weight: normal;
        text-align: center;
      }
    }

    .btn_wrap {
      text-align: center;
      padding-top: 40px;
      margin-bottom: 30px;

      button {
        width: calc(50% - 3px);
        height: 68px;
        line-height: 68px;
        font-size: 24px;
        color: #fff;
        border: 1px solid #666;
        background-color: #666;
        white-space: nowrap;
        cursor: pointer;
      }

      .next_btn {
        margin-left: 5px;
        border: 1px solid #009ee3;
        background-color: #009ee3;
      }
    }
  }

  footer {
    div {
      display: flex;
      justify-content: center;
      color: #8f8f8f;
      padding: 20px 0;
      text-align: center;
      font-size: 13px;

      .policy {
        padding-right: 30px;
        border-right: 1px solid #d9d9d9;
        font-size: 15px;
      }

      .privacy {
        padding-left: 30px;
        color: #009ee3;
        font-size: 15px;
      }
    }
  }
}
