@font-face {
  font-family: "notokr";
  src: url("https://www.larocheposay.co.kr/font/notokr-demilight.woff2")
    format("woff2");
}

@font-face {
  font-family: "locator-light";
  src: url("/cream/public/font/LocatorWebLight.woff") format("woff");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
