.navInput {
  justify-content: flex-end;
  width: 1140px;
  height: 55px;
  margin: 0 auto;
  display: flex;

  .navRight {
    display: flex;
    align-items: center;

    input {
      width: 240px;
      height: 40px;
      border-style: none;
      border-bottom: 1px solid #8f8f8f;
      font-size: 15px;
      margin-top: 10px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #bcbcbc;
      }
    }

    .magnifier {
      display: flex;
      width: 22px;
      height: 23px;
      margin: 2px 5px 0 0px;
      background: url(https://www.larocheposay.co.kr/images/common/bg_button.png)
        no-repeat 0 0;
    }

    .cart {
      display: flex;
      width: 22px;
      height: 22px;
      margin: 2px 0 0 10px;
      background: url(https://www.larocheposay.co.kr/images/common/bg_button.png)
        no-repeat -27px 0;
      background-size: 500px 500px;
    }
  }
}

.navLogoText {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 10px;

  .navLeftLogo {
    display: flex;
    content: "";
    width: 23px;
    height: 20px;
    background: url(https://www.larocheposay.co.kr/images/common/bg_button.png?1)
      no-repeat -98px 0;
    background-size: 500px 500px;
    margin: 1px 6px 0 0;
  }

  .navLeft {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    color: #009ee3;
    margin-right: 10px;
  }

  .hashTag {
    line-height: 20px;
    padding: 0 8px;
    margin-right: 4px;
    background: #f7f7f7;
    color: #666;
    font-size: 12px;
  }
}
