.navLogo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  margin-left: -112px;
  width: 224px;
  height: 114px;
  font-size: 27.7px;
}

.topNav {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  span {
    color: #009ee3;
  }
  li {
    padding-left: 2px;
    line-height: 36px;
  }
  a {
    font-size: 12px;
    padding: 0 8px;
    color: #959595;
    border-right: 1px solid;
  }
  .topNavEnd {
    border: none;
  }
}
